
<div class="container"  >
    
<nav class="nav nav bg-dark mb-5">


    <!-- <li class="nav-item ">
        <a class="nav-link text-white" href="/dashboard">Dashboard</a>
    </li> -->
    <li class="nav-item">
        <a class="nav-link text-white"  href="/add">Add</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-white"  href="/templateform">TemplateForm</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-white"  href="/reactiveform">ReactiveForm</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-white"   href="/todos">Todo From Api</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white"  href="angularmaterial"> Material </a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-white"  href="complexform"> complexform </a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link text-white"  href="loginform"> LoginForm </a>
    </li>
 <li class="nav-item">
        <a class="nav-link text-white"  href="dashboardauto"> material Dashboard </a>
    </li>
<li class="nav-item">
        <a class="nav-link text-white"  href="tree"> Tree</a>
    </li>
   
</nav>



  
  

<router-outlet ></router-outlet>


<div class="bg-dark text-white p-3 container text-center" style="position:fixed; margin-top: 50px; bottom: 0px; ">
    @ Sagar Dhandhalya 2021.
</div>
</div>





